*{
    background-color:#5D78A1;
}
#top_text{
   text-align: center;
   color: white;
   font-weight: bolder;
   font-size: x-large;
}
#top_text h5{
    margin-top: -1%;
}
#top_image{
   
    width: 15%;
    margin-top: -8%;
    padding-left: 1%;
}
#top_image img{
    width: 60%;
}
.details>p{
    color: white;
    margin-bottom: 3%;
    margin-top: 5%;
    font-weight: bold;
    font-size: x-large;
}
.details{
    display: flex;
    flex-direction: column;
    margin-left: 32%;
    padding: 5%;
    margin-top: -5%; 
    width: 30%;  
}
.details>input{
    border: 2px solid black;
    padding: 5%;
    border-radius: 10px;
    background-color: #E0FFFF;
    border: none;
}
.create_button{
    margin-left: 43%;
    margin-top: -50px;
    font-size: xx-large;
    width: 50%;
}

#create{
    color: black;
    background-color: #E0FFFF;
    border: none;
    
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    width: 30%;
    height: 70px;
}