*{
    background-color:#5D78A1;
}
#top_text{
   text-align: center;
   color: white;
   font-weight: bolder;
   font-size: x-large;
}
#top_text h5{
    margin-top: -1%;
}
.top_image{
    margin-top: -10%;
}
.details>p{
    color: white;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: x-large;
}
.details{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    padding: 5%;
    margin-top: -7%;
    width: 20%;
  
}
.details>input{
    border: 2px solid black;
    padding: 5%;
    border-radius: 10px;
    background-color: #E0FFFF;
}
.create_button{
    margin-left: 41%;
    margin-top: -50px;
}
.create_button button{
    font-size: x-large;
    

}
#create{
    color: black;
    background-color: #E0FFFF;
    
    border-radius: 10px;
    font-weight: bold;
    font: x-large;
    width: 30%;
    height: 70px;
}